
body {
    background-color: #994ECC;
    margin: 0px;
}


.top-nav {
    background-color: black;
    margin: 0px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    row-gap: 200px;
    height: 80px;
    width: 100%;
}

.title {
    margin-left: 50px;
    border-right: 2px solid white;
    padding-right: 50px;
}

.top-nav a {
    text-decoration: none;
    color: white;
    background-color: black;
    margin-right: 20px;
}

.logo {
    margin-right: 100px;
    width: 50px;
    height: auto;
    padding-left: 10px;
}

.title-logo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.Login {
    display: flex;
}

.Login > a {
    border-radius: 10px;
    border: 10px;
    background-color: purple;
    margin-left: 20px;
    padding: 15px;
}
.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.flex-item{
    width: 90%;
    height: 900px;
    padding: 10px;
    margin-top: 80px;
}

.about-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 80%;
    background-color: #DEE4EA;
    border-radius: 20px;
    padding: 0 50px;
}

.about-text {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    text-align: left;
    margin-left: 50px;
}

.about-text h1 {
    font-size: 120px;
    margin-bottom: 60px;
    font-family: 'Libre Baskerville', serif;
}

.read-more {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    background-color: black;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 30px;
    color: #994ECC;
}

span {
    display: block;
    padding-left: 100px;
    padding-top: 20px;
}

.more-text {
    width: 50%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 30px;
    border-radius: 10px;
    border: 3px solid #994ECC;
    margin-bottom: 30px;
}


.inner-flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.team-h2 {
    text-align: center;
    margin-bottom: 70px;
}

.inner-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 450px;
    background-color: black;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;
    background-color: #DEE4EA;
    color: black;
}

.card-image {
    width: 130px;
    height: 130px;
}

.card-image img {
    width: 100%;
    height: 100%;
    border-radius: 60%;
}

.card-text {
    font-size: 18px;
    margin: 0 10px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}

.i-container {
    display: flex;
    width: 60%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    perspective: 500px;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85px;
    height: 50px;
    background-color: black;
    transform: rotateY(50deg);
}

i {
    font-size: 36px;;
    color: white;  
}

.footer{
    display: flex;
    justify-content: center;
    align-items:center ;
    height: 200px;
    background-color: black ;
    font-size: 22px; /* Adjust font size as needed */
    font-family: 'Arial', sans-serif;
} 
  
.content{
    color:rgb(189, 21, 21);
    text-align: center;
}

.About-us{
    margin-top: 10px ;
}

.About-us > a {
    text-decoration: none; 
    color:white ;
    margin-right:15px ;
}
  
.title-logo2 {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the content horizontally */
    justify-content: center; /* Center the content vertically */
    gap: 10px;
  }

@media (max-width: 1350px) {
    .inner-item {
        width: 30%;
    }

    .about-text h1 {
        font-size: 80px;
    }

    .more-text {
        width: 40%;
        margin-top: 30px;
    }
}

@media (max-width: 1000px) {
    .inner-item {
        width: 45%;
    }
}

@media (max-width: 700px){
    .inner-item {
        width: 60%;
    }
}

@media (max-width: 500px){
    .inner-item {
        width: 80%;
    }
}




