body {
    font-family: sans-serif;
    line-height: 1.5;
    background-color: #C683D7;
}

h1 {
    text-align: center;
}

iframe {
    width: 100%;
    height: 350px;
}

.table {
    border-collapse: collapse;
    width: 100%;
}

.table th,
.table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.table th {
    background-color: #f2f2f2;
}

.table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.table tbody tr:hover {
    background-color: #f5f5f5;
}

ul {
    list-style-type: none;
    padding: 0;
}

@media (min-width: 992px) {
    iframe {
        width: 90%;
        height: 450px;
    }

    .detail {
        margin-top: 200px;
    }
    
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .flex-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 70%;
    }

    .map-detail{
        width: 60%;
    }

    .contact-detail {
        width: 40%;
    }
}

